$govuk-assets-path: "/phone-number-example-frontend/assets/lib/govuk-frontend/dist/govuk/assets/";
$hmrc-assets-path: "/phone-number-example-frontend/assets/lib/hmrc-frontend/hmrc/";

$govuk-include-default-font-face: false;

@import "lib/govuk-frontend/dist/govuk/index";
@import "lib/hmrc-frontend/hmrc/all";
